<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UltraSFV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UltraSFV.Properties.Settings>
            <setting name="Column1Width" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="Column2Width" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Column3Width" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="Column4Width" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="Column5Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ShowColumn1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowColumn2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowColumn3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowColumn4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowColumn5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>150, 150</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>400, 300</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberWindoLocation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReuseWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutomaticallyScrollFileList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseRecycleBinWhenDeleting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RenameBadFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteBadFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommentsWindowLocation" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="CommentsWindowSize" serializeAs="String">
                <value>400, 275</value>
            </setting>
            <setting name="CommentsWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="EnableSounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListFullRowSelect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListShowGridLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseWhenCheckingFinished" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseOnlyWhenAllGood" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseWhenCreatingFinished" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlertWhenFileCreated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PromptForFileName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoubleClickToOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepFileLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogGood" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogBad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogMissing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogSkipped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogLocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlternateRowColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlternateRowColor" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
        </UltraSFV.Properties.Settings>
    </userSettings>
</configuration>